body {
    background-color: #F5F5F5;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
}

.login-layout {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 270px 0;
    min-height: 100%;
    box-sizing: border-box;
    z-index: 9999;
}

.login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}

.login-header {
    text-align: center;
    color: #ffffff;
}

.login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
}

.layui-icon-login {
    position: relative;
    left: 10px;
    top: 27px;
    color: #d2d2d2
}

.layui-form-item .layui-input {
    padding-left: 30px
}

.login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .5);
}